# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/.next
.next

# testing
/coverage

# production
/build

# Markdown file
README.md

# Node Dependency file
package.json

# CSS configuration
postcss.config.js
tailwind.config.js

# misc
.DS_Store
.env
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# .gitignore
.gitignore

# Typescript configuratio 
tsconfig.json
next-env.d.ts

.eslintrc.json
next.config.js
package.json
README.md
tsconfig.json